<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>MontserratAlternates-Bold.ttf</string>
		<string>Assistant-Light.ttf</string>
		<string>Assistant-Regular.ttf</string>
		<string>Assistant-SemiBold.ttf</string>
		<string>MontserratAlternates-Regular.ttf</string>
		<string>MontserratAlternates-Medium.ttf</string>
		<string>MontserratAlternates-SemiBold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>launch-screen-color</string>
		<key>UIImageName</key>
		<string>launch-screen-image</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
